<div class="main-page masthead">
	<div class="logo"></div>
	<h1>Shoes</h1>
</div>
<div class="main-page content">
	<div class="row">
		<h4>Gender</h4>
		<button>MENS</button><button>WOMENS</button>
	</div>
	<div class="row">
		<h4>Occasion</h4>
		<button>CASUAL</button><button>DRESSY</button><button>OUTDOORS</button><button>WORK</button>
	</div>
	<div class="row">
		<h4>Season</h4>
		<button>SPRING</button><button>SUMMER</button><button>FALL</button><button>WINTER</button>
	</div>
	<button class="call-to-action">Submit</button>
</div>
<div ng-controller='ShoeCtrl'>
  <div ng-repeat='shoe in shoes'>
    {{shoe}}
  </div>
</div>
