<html lang="en">
    <head>
        <meta charset='utf-8'/>
        <title>Shoes Bitches</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>

    <body>
    	{{{body}}}
    </body>
</html>
