<html lang="en">
    <head>
        <meta charset='utf-8'/>
        <title>Shoes Bitches</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link href="css/style.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
    </head>

    <body>
    <div class="container">{{{body}}}</div>
    

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/color-thief.js"></script>
    <script src="js/hammer.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-animate.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/controllers/ShoeCtrl.js"></script>
    <script src="../js/services/ShoeFactory.js"></script>
  </body>
</html>
